<div class="d-none d-sm-block">
  <div>
    <!-- <button
      type="button"
      close="close"
      (click)="closeModal()"
      style="margin-right: 10px; outline: 0; color: black; cursor: pointer"
    >
      &times;
    </button> -->
    <div>
      <span
        style="
          font-size: 1.75rem;
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.2;
          margin-top: 0;
        "
        >Are you sure want to delete this employee?</span
      ><br />
      <div style="display: flex; padding: 4% 0 0 12%">
        <button class="addbtn" (click)="closeModal()" style="cursor: pointer">
          No
        </button>
        &nbsp;
        <button
          class="cancelbtn"
          (click)="deleteData()"
          style="cursor: pointer"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
